body{
    background-color: rgb(255, 223, 153);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
h2{
    color: rgb(151, 151, 231);
    text-decoration: underline;
    text-align: center;
}
p{
    text-align: center;
}
h3{
    color: rgb(226, 150, 150);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.pretty{
    font-family: ;
}
