body{
    background-color: rgb(253, 213, 112); 
    color: yellow;
}
h1 {
    font-size: 36px;
    color: rgb(0, 0, 0);
    text-align: center;
}
body{
    background-color: rgb(249, 187, 116);
    color: azure;
}
h2{
color: navy;
text-decoration: underline;
font-style: italic;
font-weight: bold;
}
p{
    font-size: 25px;
}
.pretty{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.common{
    background-color: rgb(30, 214, 58);
    border: 2px solid rgb(236, 23, 23);
    position: absolute;
}

.left{
    top: 115px;
    left: 15px;
    width: 100px;
    bottom: 40px;
}

.main {
    top: 115px;
    left: 130px;
    right: 140px;
    bottom: 40px;
}

.right{
top: 115px;
right: 25px;
width: 100px;
height: 100px;
}
.footer {
    bottom: 5px;
    height: 25px;
    left: 15px;
    right: 25px;
    position: fixed;
    background-color: rgb(30, 214, 58);
    border: 2px solid rgb(236, 23, 23);

}
.header{
    z-index: 10;
}

